.footer-contact__list {
    @extend %list;
    margin-top: 20px;
}

.footer-contact__link {
    @extend %link;
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition: var(--transition-color);

    &--color {
            color: #fff;
    }
    &--colour {
        color: rgba(255, 255, 255, 0.6);
    }

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.footer-contact__item+.footer-contact__item {
    margin-top: 9px;
}