.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ececec;

    &__container {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}