.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ececec;

    &__container {
        position: relative;
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        @media screen and (min-width:768px) {
            height: 80px;
        }
    }
    
}