.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px 48px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms;
    z-index: 999;

    &.is-open {
            transform: translateX(0);
        }

    .menu-cross {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        background-color: transparent;
    
        &:hover,
        &:focus {
            fill: var(--brend-color1);
        }
    }
}

.menu-button {
    display: inline-flex;
    border: none;
    background-color: transparent;
    min-height: 40px;
    min-width: 40px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;

    @media screen and (min-width:768px) {
        display: none;
    }

    &:hover,
    &:focus {
        fill: var(--brend-color1);
    }
}

.mobile-menu {
    @extend %list;

    &__link {
        @extend %link;
    
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    
        color: var(--basic-text-color);
    }

    &__item {
        margin-bottom: 32px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__link--current {
        color: var(--brend-color1);
    }
}

.contacts-menu {
    @extend %list;
    margin-top: auto;

    &__item {
        margin-bottom: 32px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__tel {
        @extend %link;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        
        color: var(--brend-color1)
    }

    &__mail {
        @extend %link;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        
        color: var(--brend-color2)
    }

    &__mail:hover,
    &__mail:focus {
        color: var(--brend-color1)
    }
}

.social-menu {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;

    &__item {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        margin-right: 10px;
    }

    &__item:last-child {
        border-right: none;
    }

    &__link {
        @extend %link;
        padding-right: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    
        color: #2196F3;
    }
}








