:root {
    --basic-text-color: #212121;
    --secondary-text-color: #757575;
    --brend-color1: #2196F3;
    --brend-color2: #757575;
    --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-background-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-border: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /*--color3: #212121;*/
    /*--basic-font-weigt: ;
    --secondary-font-weigt: font-weight :500;*/
}